{% extends 'mailing/base.html' %}
{% block content %}
    <h1 class="display-6"> Мои Рассылки </h1>
    <div class="col-12 mb-5">
    {% if user.is_authenticated %}
{#    {% if perms.main.add_student %}#}
        <a class="btn btn-outline-primary" href="{% url 'mailing:create' %}">Добавить рассылку</a>
{#    {% endif %}#}
    </div>
    <div class="row">

            {% for object in object_list %}
                <div class="col-md-4">
                  <div class="card shadow-sm">
                    <div class="card-body">
                      <p class="card-text">
                            {{ object.title_message }}
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                          <a href="{% url 'mailing:mailing_update' object.pk %}"
                            class="btn btn-sm btn-outline-secondary">Изменить</a>
                          <a href="{% url 'mailing:view' object.pk %}"
                            class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                          <a href="{% url 'mailing:mailing_delete' object.pk %}" type="button"
                            class="btn btn-sm btn-danger">Удалить</a>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
{#            </div>#}
    {% else %}
        <div class="row">
        <div class="col-4"></div>
            <div class="col-4">
                <H6>Для работы с рассылками войдите или зарегистрируйтесь.</H6>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
