<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Cервис рассылок</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="/main_page">Главная</a>
        <a class="p-2 btn btn-outline-primary" href="/">Мои рассылки</a>
        <a class="p-2 btn btn-outline-primary" href="/client/client_list/">Мои клиенты</a>
        <a class="p-2 btn btn-outline-primary" href="/logs/">Отчет о проведенных рассылках</a>
        <a class="p-2 btn btn-outline-primary" href="/blog/blog_list/">Прейти в Блог</a>
{#        <a class="p-2 btn btn-outline-primary" href="/category_list/">Посмотреть категории продуктов</a>#}
            {% if user.is_authenticated %}
              <li><a href="{% url 'users:profile' %}" >Изменить профиль</a></li>
{#            <div class="card-footer">#}
{#                <a href="{% url 'users:user_delete' %}" class="btn btn-danger">Удалить пользователя </a>#}
{#            </div>#}
              <li><a href="{% url 'users:logout' %}" >Выйти</a></li>
            {% else %}
              <li><a href="{% url 'users:login' %}" >Войти</a></li>
                <li><a href="{% url 'users:register' %}" >Регистрация</a></li>
            {% endif %}
    </nav>
</div>
